body{
    background-color: black;
    padding: 15px;
    padding-left: 50px;
}
#anthem{
    text-align: center;
    font-size: 150px;
    background-image: url('"https://images-na.ssl-images-amazon.com/images/I/71PwGxjZMNL._SL1500_.jpg');
}
.header{
    height: 300px;
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/71PwGxjZMNL._SL1500_.jpg");
}
.about{
    text-align: center;
    padding: 20px;
    /* background-color: black; */
    font-size: 20px;
    color: blanchedalmond;
}
.member{
    float: left;
    width: 20%;
    padding: 15px;
    text-align: center;
    font-weight: 400px;
    font-style: italic;
    color: blanchedalmond;
}
.members::after{
     content: " "; 
    display: table;
    clear: both;
    color: blanchedalmond;
   
}
.meet{
    text-align: center;
    color: blanchedalmond;
}
.favorite{
    float: left;
    width: 30%;
    height: 100%;
    padding: 15px;
    color: blanchedalmond;
}
.favorites::after{
   content: " "; 
    display: table;
    clear: both;
}
.description{
    padding: 15px;
    text-align: center;
}
img{
    width: 300px;
    height: 300px;
    opacity: 0.5;
}
img:hover{
    opacity: 1.0;
}
.fa{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa-facebook{
    background: #3B5998;
    color: white;
}
.fa-instagram{
    background: #125688;
    color: white;
}
.fa-youtube{
    background: #bb0000;
    color: white;
}
.slide-show{
    position: relative;
    background-color: gray;
} 
.slideshow-item{
     position: absolute; 
    opacity: 0; 
    animation: cycleImages 12s linear infinite;
}
.slideshow-item:nth-child(1){
    animation-delay: 0s;
}
.slideshow-item:nth-child(2){
    animation-delay: 0.5s;
}
.slideshow-item:nth-child(3){
    animation-delay: 10s;
}
.slideshow-item:nth-child(4){
    animation-delay: 20s;
}
.slideshow-item img{
    object-fit: cover;
}

@keyframes cycleImages {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
ul{
    list-style-type: none;
}
ol{
    color: blanchedalmond;
    font-size: 30px;
}